<!DOCTYPE html>
<html>
<head>
    <title>Coding Challenge</title>
    <link rel="stylesheet" src="/normalize-css.googlecode.com/svn/trunk/normalize.css" />
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>Coding Challenge</h1>
    </div>
    <h2 class="page-header">Login</h2>
    <form class="form-horizontal" role="form" action="/login" method="POST">
        <h3>Email</h3>
        <input for="email" class="form-control" type="text" name="email" require/>
        <h3>Password</h3>
        <input class="form-control" type="password" name="password"require/>
        <input type="submit" value="Log In"/>
    </form>
    <h2 class="page-header">Register</h2>
    <form class="form-horizontal" action="/users" method="POST">
        <h3>Username</h3>
        <input class="form-control" type="text" name="username"require/>
        <h3>Password</h3>
        <input for="email" class="form-control" type="password" name="password"require/>
        <input type="submit" value="Log In - Register"/>
    </form>
</div>
</body>
</html>