<!DOCTYPE html>
<html>
<head>
    <title>Coding Challenge</title>
    <link rel="stylesheet" src="/normalize-css.googlecode.com/svn/trunk/normalize.css" />
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1><%= user.username %>'s Search Page</h1>
    </div>
    <a href="/logout" class="btn btn-default">Logout</a>
</div>
</body>
</html>